-optimizationpasses 5
-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-dontskipnonpubliclibraryclassmembers
-dontpreverify
-verbose
-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*

-keep public class * extends android.app.Activity
-keep public class * extends android.app.Application
-keep public class * extends android.app.Service
-keep public class * extends android.content.BroadcastReceiver
-keep public class * extends android.content.ContentProvider
-keep public class * extends android.app.backup.BackupAgentHelper
-keep public class * extends android.preference.Preference
-keep public class com.android.vending.licensing.ILicensingService

#这是友盟社会化组件和统计提供的混淆代码--end
-dontshrink
-dontoptimize
-dontwarn com.google.android.maps.**
-dontwarn android.webkit.WebView
-dontwarn com.umeng.**
-dontwarn com.tencent.weibo.sdk.**
-dontwarn com.facebook.**

-libraryjars libs/SocialSDK_QQZone_2.jar

-keep enum com.facebook.**
-keepattributes Exceptions,InnerClasses,Signature
-keepattributes *Annotation*
-keepattributes SourceFile,LineNumberTable

-keep public interface com.facebook.**
-keep public interface com.tencent.**
-keep public interface com.umeng.socialize.**
-keep public interface com.umeng.socialize.sensor.**
-keep public interface com.umeng.scrshot.**

-keep public class com.umeng.socialize.* {*;}
-keep public class javax.**
-keep public class android.webkit.**

-keep class com.facebook.**
-keep class com.umeng.scrshot.**
-keep public class com.tencent.** {*;}
-keep class com.umeng.socialize.sensor.**

-keep class com.tencent.mm.sdk.modelmsg.WXMediaMessage {*;}

-keep class com.tencent.mm.sdk.modelmsg.** implements com.tencent.mm.sdk.modelmsg.WXMediaMessage$IMediaObject {*;}

-keep class im.yixin.sdk.api.YXMessage {*;}
-keep class im.yixin.sdk.api.** implements im.yixin.sdk.api.YXMessage$YXMessageData{*;}

-keep public class com.oneggo.snacks.R$*{
    public static final int *;
}
#这是友盟社会化组件和统计提供的混淆代码 end


-libraryjars libs/android-support-v4.jar
-libraryjars libs/AppOffer_2.1.1.jar
-libraryjars libs/gson-2.2.4.jar
-libraryjars libs/jpush-sdk-release1.6.3.jar
-libraryjars libs/SocialSDK_QQZone_2.jar
-libraryjars libs/umeng-analytics-v5.2.4.jar

-dontwarn  android.support.v4.**
-dontwarn  cn.waps.**
-dontwarn  com.google.gson.Gson.**
-dontwarn  cn.jpush.**

-keep class android.support.v4.** { *;}
-keep class cn.waps.** { *;}
-keep class com.google.gson.Gson.** { *;}
-keep class cn.jpush.** { *;}

-keep class com.oneggo.snacks.view.** { *;}
-keep class com.oneggo.snacks.datatype.** { *;}

-keepclassmembers class com.oneggo.snacks.datatype.** {
   *;
}

-keepclassmembers class * extends android.app.Activity {
  public void *(android.view.View);  
}
